<div id="show">
  <div id="showleft">
    <p style="font-size: 20px;"> Welcome to your CF-SLA APP</p>
  </div>
  <div id="showright">
    <p></p>
    <p style="font-size: 16px;"><em><%= @user.email %></em></p>
    <p><em><%= link_to 'edit' ,edit_user_path(@user) %>  <%= link_to 'Logout' ,logout_path, method: "delete" %>  </em></p>
  </div>
</div>