<body>
    <div id="header">
        <p id="name">SLA-CF</p>
        <p id="login"><em><%= link_to "Login", signin_path %></em></p>
    </div>
    <div id="middle_text">
      <h1>CloudFoundry Based on SLA</h1>
    </div>
    <div id="middle_button">
      <%= link_to 'Sign up',new_user_path %>
    </div>
</body>


